body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background: linear-gradient(
      hsla(250, 50%, 20%, .5),
      hsla(250, 50%, 30%, .5)
  );
    color: white;
    text-align: center;
    padding: 10px;
  }
  header h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Valores: desplazamiento en X, desplazamiento en Y, tamaño de la sombra, color de la sombra */
  }
  h1 {
    margin: 0;
  }
  
  .main {
    padding: 20px;
  }
  
  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .filters label,
  .filters select {
    margin-right: 10px;
  }
  
  .characterList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }
  .characterList img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .characterCard {
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 0 .5rem #999;
  }
  .characterCard:hover{
    transform: 
        scale(1.1);
    
  }

  .characterDetail {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
  }
  
  .pagination button,
  .pagination span {
    margin: 0 5px;
    
  }
  .pagination button{
    background-color: beige;
    border-radius: 5px;
  }

  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  footer p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  @media (max-width: 768px) {
    .pagination {
      flex-direction: column;
      align-items: center;
    }
  }